/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.ruby-version
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.rvmrc
.rspec
*~
._*
config/database.yml
*.swp
.DS_Store
public/assets/
vendor/bundler/
screenlog.1
